<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049014176907-8fdvb5qpm90bnsbtmk80devmnhpnv6dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049014176907-8fdvb5qpm90bnsbtmk80devmnhpnv6dq</string>
	<key>API_KEY</key>
	<string>AIzaSyBbE30TPh73F6UjbXUP31oo2jNuKlklRXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1049014176907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ownertech.flutterTemplete</string>
	<key>PROJECT_ID</key>
	<string>quiz-4db60</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-4db60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049014176907:ios:0e4cc21e31626f95f1588e</string>
</dict>
</plist>